# List Comprehension:
* Easy: Create a list comprehension that generates a list of squares of numbers from 1 to 10.
* Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
a=[ele**2 for ele in range(0,11)]
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#2 Medium: Given a list of words, create a list comprehension to filter out words that are longer than 5 characters.
Input: ['apple', 'banana', 'cherry', 'date', 'elderberry']
Output: ['apple', 'cherry', 'date']

In [20]:
a=['apple','banana','cherry','date','elderberry']
b=[ele for ele in a if len(ele)<=5]
print(b)

['apple', 'date']

# Lists:
Easy: 3 Create a list containing the numbers 1 to 5 and then append the number 6 to it.
Output: [1, 2, 3, 4, 5, 6]

In [41]:
x = [ele for ele in range(1,6)]
x.append(6)
x

[1, 2, 3, 4, 5, 6]

 #4 Medium: Given two lists, merge them into a single list without duplicates.
Input:
List 1: [1, 2, 3, 4]
List 2: [3, 4, 5, 6]
Output: [1, 2, 3, 4, 5, 6]

In [6]:
list1=[1,2,3,4]
list2=[3,4,5,6]
list3=list(set(list1+list2))
list3

[1, 2, 3, 4, 5, 6]

# Map:
Easy: 5 Use the map function to double each element in a list.
Input: [1, 2, 3, 4, 5]
Output: [2, 4, 6, 8, 10]

In [33]:
a=lambda x:x*2

b=map(a, range(1,6))
print(b)
list(b)

<map object at 0x00000211A3170100>

[2, 4, 6, 8, 10]

# Medium: 6 Use the map function to convert a list of strings to uppercase.

Input: ['apple', 'banana', 'cherry']

Output: ['APPLE', 'BANANA', 'CHERRY']

In [40]:
a=('apple','banana','cherry')
b=lambda a:a.upper()
c=list(map(b,a))
c

['APPLE', 'BANANA', 'CHERRY']

# Easy:7 Use the filter function to get all even numbers from a list.

Input: [1, 2, 3, 4, 5, 6]

Output: [2, 4, 6]

In [44]:
x = [1,2,3,4,5,6]
y = lambda x: True if x%2 ==0 else False
z = list(filter(y, x))
z

[2, 4, 6]

# Medium: 8 Use the filter function to get all words from a list that start with the letter 'b'.
Input: ['apple', 'banana', 'cherry', 'blueberry', 'date']
Output: ['banana', 'blueberry']

In [1]:
x = ['apple', 'banana', 'cherry', 'blueberry', 'date']
y = lambda x: True if x.startswith('b') else False
z = list(filter(y, x))
z

['banana', 'blueberry']

# Easy:9 Write a function called add that takes two numbers as input and returns their sum.

Input: add(3, 4)

Output: 7

In [6]:
def foo(a,b):
    print(a+b)
foo(3,4)

7

# Medium: Write a function called calculate_average that takes a list of numbers as input and returns the average (mean) of those numbers.

Input: calculate_average([1, 2, 3, 4, 5])

Output: 3.0

In [8]:
def total_average(x):
    print (sum(x)/len(x))
total_average([1, 2, 3, 4, 5])

3.0